h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
}

.navItem {
    height: 100%;
    flex-grow: 1;
}

.navItem:hover {
    background-color: rgb(242, 242, 242);
    cursor: pointer;
}

a,button{
    cursor: pointer;
}
.icon {
    display: inline;
}

.navText {
    display: none;
}

.secHeading {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 16px;
}
.card{
    --tw-bg-opacity: 1;
    background-color: rgb(209 213 219 / var(--tw-bg-opacity, 1));
}
@media (min-width: 768px) {
    .navText {
        display: inline;
    }

    .icon {
        display: none;
    }

    .navItem {
        height: 32px;
        flex-grow: 0;
        margin-top: auto;
        margin-bottom: auto;
    }

    .hero,
    .information,
    .course,
    .thesis {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .secHeading {

        text-align: center;
        padding-top: 0px;
        padding-bottom:32px;
    }
    .card{
        background-color: white;
    }
}